## Reconfigure a Spatial Grid, adding values for Row and Column Indices

This code reads a Geopackage, and adds new columns to give index values to features in the grid.

In [1]:
import geopandas as gpd
import pandas as pds

In [2]:
# read in Geopackage file to work with
df = gpd.read_file('/media/eubtube/Seagate Backup Plus Drive/Congo_Tifs/vector/colline_grid_joined.gpkg')

In [3]:
df

,id,left,top,right,bottom,quadkey,fid_2,tileID,layer,path,grid_id,geometry
0,1,28.388672,0.878906,28.476562,0.791016,None,NaN,None,None,None,None,"POLYGON ((28.38867 0.87891, 28.47656 0.87891, ..."
1,2,28.388672,0.791016,28.476562,0.703125,None,NaN,None,None,None,None,"POLYGON ((28.38867 0.79102, 28.47656 0.79102, ..."
2,3,28.388672,0.703125,28.476562,0.615234,None,NaN,None,None,None,None,"POLYGON ((28.38867 0.70312, 28.47656 0.70312, ..."
3,4,28.388672,0.615234,28.476562,0.527344,None,NaN,None,None,None,None,"POLYGON ((28.38867 0.61523, 28.47656 0.61523, ..."
4,5,28.388672,0.527344,28.476562,0.439453,None,NaN,None,None,None,None,"POLYGON ((28.38867 0.52734, 28.47656 0.52734, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
1051,1052,31.201172,-1.494141,31.289062,-1.582031,None,NaN,None,None,None,None,"POLYGON ((31.20117 -1.49414, 31.28906 -1.49414..."
1052,1053,31.201172,-1.582031,31.289062,-1.669922,None,NaN,None,None,None,None,"POLYGON ((31.20117 -1.58203, 31.28906 -1.58203..."
1053,1054,31.201172,-1.669922,31.289062,-1.757812,None,NaN,None,None,None,None,"POLYGON ((31.20117 -1.66992, 31.28906 -1.66992..."
1054,1055,31.201172,-1.757812,31.289062,-1.845703,None,NaN,None,None,None,None,"POLYGON ((31.20117 -1.75781, 31.28906 -1.75781..."
1055,1056,31.201172,-1.845703,31.289062,-1.933594,None,NaN,None,None,None,None,"POLYGON ((31.20117 -1.84570, 31.28906 -1.84570..."

In [4]:
df['left']

0       28.388672
1       28.388672
2       28.388672
3       28.388672
4       28.388672
          ...
1051    31.201172
1052    31.201172
1053    31.201172
1054    31.201172
1055    31.201172
Name: left, Length: 1056, dtype: float64

In [5]:
# testing conditional indexing
df[df['id']< 99]['left']

0     28.388672
1     28.388672
2     28.388672
3     28.388672
4     28.388672
        ...
93    28.564453
94    28.564453
95    28.564453
96    28.652344
97    28.652344
Name: left, Length: 98, dtype: float64

In [6]:
#testing iteration of conditional indexing
for i in df[df['id']< 99]['left']:
    print(i)

28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.388671875
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.4765625
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.564453125
28.65234375
28.65234375

In [7]:
# Get unique y coordinates for columns in grid
cols = df['left'].unique()
cols

array([28.38867188, 28.4765625 , 28.56445312, 28.65234375, 28.74023438,
       28.828125  , 28.91601562, 29.00390625, 29.09179688, 29.1796875 ,
       29.26757812, 29.35546875, 29.44335938, 29.53125   , 29.61914062,
       29.70703125, 29.79492188, 29.8828125 , 29.97070312, 30.05859375,
       30.14648438, 30.234375  , 30.32226562, 30.41015625, 30.49804688,
       30.5859375 , 30.67382812, 30.76171875, 30.84960938, 30.9375    ,
       31.02539062, 31.11328125, 31.20117188])

In [8]:
# Create keys for dictionary in next step (will become the column identifiers)
keys = list(range(0,34))
keys

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33]

In [9]:
# create the dictionary 
new_dict = dict(zip(keys, cols))
new_dict
#flip the keys and values in a dict
new_dict2 = dict((y,x) for x,y in new_dict.items())
new_dict2

{28.388671875: 0,
 28.4765625: 1,
 28.564453125: 2,
 28.65234375: 3,
 28.740234375: 4,
 28.828125: 5,
 28.916015625: 6,
 29.00390625: 7,
 29.091796875: 8,
 29.1796875: 9,
 29.267578125: 10,
 29.35546875: 11,
 29.443359375: 12,
 29.53125: 13,
 29.619140625: 14,
 29.70703125: 15,
 29.794921875: 16,
 29.8828125: 17,
 29.970703125: 18,
 30.05859375: 19,
 30.146484375: 20,
 30.234375: 21,
 30.322265625: 22,
 30.41015625: 23,
 30.498046875: 24,
 30.5859375: 25,
 30.673828125: 26,
 30.76171875: 27,
 30.849609375: 28,
 30.9375: 29,
 31.025390625: 30,
 31.11328125: 31,
 31.201171875: 32}

In [10]:
# Create the 'Cols' Column by applying the key value from dictionary where the x coordinate exists
df["cols"] = df["left"].apply(lambda x: new_dict2.get(x))
df

,id,left,top,right,bottom,quadkey,fid_2,tileID,layer,path,grid_id,geometry,cols
0,1,28.388672,0.878906,28.476562,0.791016,None,NaN,None,None,None,None,"POLYGON ((28.38867 0.87891, 28.47656 0.87891, ...",0
1,2,28.388672,0.791016,28.476562,0.703125,None,NaN,None,None,None,None,"POLYGON ((28.38867 0.79102, 28.47656 0.79102, ...",0
2,3,28.388672,0.703125,28.476562,0.615234,None,NaN,None,None,None,None,"POLYGON ((28.38867 0.70312, 28.47656 0.70312, ...",0
3,4,28.388672,0.615234,28.476562,0.527344,None,NaN,None,None,None,None,"POLYGON ((28.38867 0.61523, 28.47656 0.61523, ...",0
4,5,28.388672,0.527344,28.476562,0.439453,None,NaN,None,None,None,None,"POLYGON ((28.38867 0.52734, 28.47656 0.52734, ...",0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,1052,31.201172,-1.494141,31.289062,-1.582031,None,NaN,None,None,None,None,"POLYGON ((31.20117 -1.49414, 31.28906 -1.49414...",32
1052,1053,31.201172,-1.582031,31.289062,-1.669922,None,NaN,None,None,None,None,"POLYGON ((31.20117 -1.58203, 31.28906 -1.58203...",32
1053,1054,31.201172,-1.669922,31.289062,-1.757812,None,NaN,None,None,None,None,"POLYGON ((31.20117 -1.66992, 31.28906 -1.66992...",32
1054,1055,31.201172,-1.757812,31.289062,-1.845703,None,NaN,None,None,None,None,"POLYGON ((31.20117 -1.75781, 31.28906 -1.75781...",32
1055,1056,31.201172,-1.845703,31.289062,-1.933594,None,NaN,None,None,None,None,"POLYGON ((31.20117 -1.84570, 31.28906 -1.84570...",32

In [20]:
# generate row id based on column id
# 32 rows per column
df['grid_id1'] = df['id']-(32 * (df['cols']))
df

,id,left,top,right,bottom,quadkey,fid_2,tileID,layer,path,grid_id,geometry,cols,grid_id1
0,1,28.388672,0.878906,28.476562,0.791016,None,NaN,None,None,None,"[33, 0]","POLYGON ((28.38867 0.87891, 28.47656 0.87891, ...",0,1
1,2,28.388672,0.791016,28.476562,0.703125,None,NaN,None,None,None,"[34, 0]","POLYGON ((28.38867 0.79102, 28.47656 0.79102, ...",0,2
2,3,28.388672,0.703125,28.476562,0.615234,None,NaN,None,None,None,"[35, 0]","POLYGON ((28.38867 0.70312, 28.47656 0.70312, ...",0,3
3,4,28.388672,0.615234,28.476562,0.527344,None,NaN,None,None,None,"[36, 0]","POLYGON ((28.38867 0.61523, 28.47656 0.61523, ...",0,4
4,5,28.388672,0.527344,28.476562,0.439453,None,NaN,None,None,None,"[37, 0]","POLYGON ((28.38867 0.52734, 28.47656 0.52734, ...",0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,1052,31.201172,-1.494141,31.289062,-1.582031,None,NaN,None,None,None,"[60, 32]","POLYGON ((31.20117 -1.49414, 31.28906 -1.49414...",32,28
1052,1053,31.201172,-1.582031,31.289062,-1.669922,None,NaN,None,None,None,"[61, 32]","POLYGON ((31.20117 -1.58203, 31.28906 -1.58203...",32,29
1053,1054,31.201172,-1.669922,31.289062,-1.757812,None,NaN,None,None,None,"[62, 32]","POLYGON ((31.20117 -1.66992, 31.28906 -1.66992...",32,30
1054,1055,31.201172,-1.757812,31.289062,-1.845703,None,NaN,None,None,None,"[63, 32]","POLYGON ((31.20117 -1.75781, 31.28906 -1.75781...",32,31
1055,1056,31.201172,-1.845703,31.289062,-1.933594,None,NaN,None,None,None,"[64, 32]","POLYGON ((31.20117 -1.84570, 31.28906 -1.84570...",32,32

In [21]:
# Drops a column
# df.drop(['grid_id'], axis=1, inplace=True)
df

,id,left,top,right,bottom,quadkey,fid_2,tileID,layer,path,grid_id,geometry,cols,grid_id1
0,1,28.388672,0.878906,28.476562,0.791016,None,NaN,None,None,None,"[33, 0]","POLYGON ((28.38867 0.87891, 28.47656 0.87891, ...",0,1
1,2,28.388672,0.791016,28.476562,0.703125,None,NaN,None,None,None,"[34, 0]","POLYGON ((28.38867 0.79102, 28.47656 0.79102, ...",0,2
2,3,28.388672,0.703125,28.476562,0.615234,None,NaN,None,None,None,"[35, 0]","POLYGON ((28.38867 0.70312, 28.47656 0.70312, ...",0,3
3,4,28.388672,0.615234,28.476562,0.527344,None,NaN,None,None,None,"[36, 0]","POLYGON ((28.38867 0.61523, 28.47656 0.61523, ...",0,4
4,5,28.388672,0.527344,28.476562,0.439453,None,NaN,None,None,None,"[37, 0]","POLYGON ((28.38867 0.52734, 28.47656 0.52734, ...",0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,1052,31.201172,-1.494141,31.289062,-1.582031,None,NaN,None,None,None,"[60, 32]","POLYGON ((31.20117 -1.49414, 31.28906 -1.49414...",32,28
1052,1053,31.201172,-1.582031,31.289062,-1.669922,None,NaN,None,None,None,"[61, 32]","POLYGON ((31.20117 -1.58203, 31.28906 -1.58203...",32,29
1053,1054,31.201172,-1.669922,31.289062,-1.757812,None,NaN,None,None,None,"[62, 32]","POLYGON ((31.20117 -1.66992, 31.28906 -1.66992...",32,30
1054,1055,31.201172,-1.757812,31.289062,-1.845703,None,NaN,None,None,None,"[63, 32]","POLYGON ((31.20117 -1.75781, 31.28906 -1.75781...",32,31
1055,1056,31.201172,-1.845703,31.289062,-1.933594,None,NaN,None,None,None,"[64, 32]","POLYGON ((31.20117 -1.84570, 31.28906 -1.84570...",32,32

In [27]:
# as a tuple
df['grid_id'] = zip(df['grid_id1'], df['cols'])
df

,id,left,top,right,bottom,quadkey,fid_2,tileID,layer,path,grid_id,geometry,cols,grid_id1
0,1,28.388672,0.878906,28.476562,0.791016,None,NaN,None,None,None,<zip object at 0x7f476b2befa0>,"POLYGON ((28.38867 0.87891, 28.47656 0.87891, ...",0,1
1,2,28.388672,0.791016,28.476562,0.703125,None,NaN,None,None,None,<zip object at 0x7f476b2befa0>,"POLYGON ((28.38867 0.79102, 28.47656 0.79102, ...",0,2
2,3,28.388672,0.703125,28.476562,0.615234,None,NaN,None,None,None,<zip object at 0x7f476b2befa0>,"POLYGON ((28.38867 0.70312, 28.47656 0.70312, ...",0,3
3,4,28.388672,0.615234,28.476562,0.527344,None,NaN,None,None,None,<zip object at 0x7f476b2befa0>,"POLYGON ((28.38867 0.61523, 28.47656 0.61523, ...",0,4
4,5,28.388672,0.527344,28.476562,0.439453,None,NaN,None,None,None,<zip object at 0x7f476b2befa0>,"POLYGON ((28.38867 0.52734, 28.47656 0.52734, ...",0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,1052,31.201172,-1.494141,31.289062,-1.582031,None,NaN,None,None,None,<zip object at 0x7f476b2befa0>,"POLYGON ((31.20117 -1.49414, 31.28906 -1.49414...",32,28
1052,1053,31.201172,-1.582031,31.289062,-1.669922,None,NaN,None,None,None,<zip object at 0x7f476b2befa0>,"POLYGON ((31.20117 -1.58203, 31.28906 -1.58203...",32,29
1053,1054,31.201172,-1.669922,31.289062,-1.757812,None,NaN,None,None,None,<zip object at 0x7f476b2befa0>,"POLYGON ((31.20117 -1.66992, 31.28906 -1.66992...",32,30
1054,1055,31.201172,-1.757812,31.289062,-1.845703,None,NaN,None,None,None,<zip object at 0x7f476b2befa0>,"POLYGON ((31.20117 -1.75781, 31.28906 -1.75781...",32,31
1055,1056,31.201172,-1.845703,31.289062,-1.933594,None,NaN,None,None,None,<zip object at 0x7f476b2befa0>,"POLYGON ((31.20117 -1.84570, 31.28906 -1.84570...",32,32

In [29]:
# as a list
df['grid_id'] = df[['grid_id1', 'cols']].values.tolist()

In [31]:
# Creates a column with string version of 'grid_id1' and 'cols'
df['Grid_Index'] = df.agg(lambda x: f"{x['grid_id1']}, {x['cols']}", axis=1)
df

,id,left,top,right,bottom,quadkey,fid_2,tileID,layer,path,grid_id,geometry,cols,grid_id1,Grid_Index
0,1,28.388672,0.878906,28.476562,0.791016,None,NaN,None,None,None,"[1, 0]","POLYGON ((28.38867 0.87891, 28.47656 0.87891, ...",0,1,"1, 0"
1,2,28.388672,0.791016,28.476562,0.703125,None,NaN,None,None,None,"[2, 0]","POLYGON ((28.38867 0.79102, 28.47656 0.79102, ...",0,2,"2, 0"
2,3,28.388672,0.703125,28.476562,0.615234,None,NaN,None,None,None,"[3, 0]","POLYGON ((28.38867 0.70312, 28.47656 0.70312, ...",0,3,"3, 0"
3,4,28.388672,0.615234,28.476562,0.527344,None,NaN,None,None,None,"[4, 0]","POLYGON ((28.38867 0.61523, 28.47656 0.61523, ...",0,4,"4, 0"
4,5,28.388672,0.527344,28.476562,0.439453,None,NaN,None,None,None,"[5, 0]","POLYGON ((28.38867 0.52734, 28.47656 0.52734, ...",0,5,"5, 0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,1052,31.201172,-1.494141,31.289062,-1.582031,None,NaN,None,None,None,"[28, 32]","POLYGON ((31.20117 -1.49414, 31.28906 -1.49414...",32,28,"28, 32"
1052,1053,31.201172,-1.582031,31.289062,-1.669922,None,NaN,None,None,None,"[29, 32]","POLYGON ((31.20117 -1.58203, 31.28906 -1.58203...",32,29,"29, 32"
1053,1054,31.201172,-1.669922,31.289062,-1.757812,None,NaN,None,None,None,"[30, 32]","POLYGON ((31.20117 -1.66992, 31.28906 -1.66992...",32,30,"30, 32"
1054,1055,31.201172,-1.757812,31.289062,-1.845703,None,NaN,None,None,None,"[31, 32]","POLYGON ((31.20117 -1.75781, 31.28906 -1.75781...",32,31,"31, 32"
1055,1056,31.201172,-1.845703,31.289062,-1.933594,None,NaN,None,None,None,"[32, 32]","POLYGON ((31.20117 -1.84570, 31.28906 -1.84570...",32,32,"32, 32"

In [32]:
# Drop Unneeded columns
df.drop('grid_id', axis=1, inplace=True)

In [33]:
#rename columns
# df.rename({'grid_id1':'rows'}, axis=1, inplace=True)

df.rename({'cols':'col'}, axis=1, inplace=True)

In [34]:
df

,id,left,top,right,bottom,quadkey,fid_2,tileID,layer,path,geometry,col,grid_id1,Grid_Index
0,1,28.388672,0.878906,28.476562,0.791016,None,NaN,None,None,None,"POLYGON ((28.38867 0.87891, 28.47656 0.87891, ...",0,1,"1, 0"
1,2,28.388672,0.791016,28.476562,0.703125,None,NaN,None,None,None,"POLYGON ((28.38867 0.79102, 28.47656 0.79102, ...",0,2,"2, 0"
2,3,28.388672,0.703125,28.476562,0.615234,None,NaN,None,None,None,"POLYGON ((28.38867 0.70312, 28.47656 0.70312, ...",0,3,"3, 0"
3,4,28.388672,0.615234,28.476562,0.527344,None,NaN,None,None,None,"POLYGON ((28.38867 0.61523, 28.47656 0.61523, ...",0,4,"4, 0"
4,5,28.388672,0.527344,28.476562,0.439453,None,NaN,None,None,None,"POLYGON ((28.38867 0.52734, 28.47656 0.52734, ...",0,5,"5, 0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,1052,31.201172,-1.494141,31.289062,-1.582031,None,NaN,None,None,None,"POLYGON ((31.20117 -1.49414, 31.28906 -1.49414...",32,28,"28, 32"
1052,1053,31.201172,-1.582031,31.289062,-1.669922,None,NaN,None,None,None,"POLYGON ((31.20117 -1.58203, 31.28906 -1.58203...",32,29,"29, 32"
1053,1054,31.201172,-1.669922,31.289062,-1.757812,None,NaN,None,None,None,"POLYGON ((31.20117 -1.66992, 31.28906 -1.66992...",32,30,"30, 32"
1054,1055,31.201172,-1.757812,31.289062,-1.845703,None,NaN,None,None,None,"POLYGON ((31.20117 -1.75781, 31.28906 -1.75781...",32,31,"31, 32"
1055,1056,31.201172,-1.845703,31.289062,-1.933594,None,NaN,None,None,None,"POLYGON ((31.20117 -1.84570, 31.28906 -1.84570...",32,32,"32, 32"

In [35]:
x = df['id'][2-1]-32
x

-30

In [36]:
#Screwing around, can delete
for index, row in df.iterrows():
    print(df.loc[index, 'id'])

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999
1000
1001
1002
1003
1004
1005
1006
1007
1008
1009
1010
1011
1012
1013
1014
1015
1016
1017
1018
1019
1020
1021
1022
1023
1024
1025
1026
1027
1028
1029
1030
1031
1032
1033
1034
1035
1036
1037
1038
1039
1040
1041
1042
1043
1044
1045
1046
1047
1048
1049
1050
1051
1052
1053
1054
1055
1056

In [37]:
# Drops the first row
df.drop(0, axis=0, inplace=False)
df

,id,left,top,right,bottom,quadkey,fid_2,tileID,layer,path,geometry,col,grid_id1,Grid_Index
0,1,28.388672,0.878906,28.476562,0.791016,None,NaN,None,None,None,"POLYGON ((28.38867 0.87891, 28.47656 0.87891, ...",0,1,"1, 0"
1,2,28.388672,0.791016,28.476562,0.703125,None,NaN,None,None,None,"POLYGON ((28.38867 0.79102, 28.47656 0.79102, ...",0,2,"2, 0"
2,3,28.388672,0.703125,28.476562,0.615234,None,NaN,None,None,None,"POLYGON ((28.38867 0.70312, 28.47656 0.70312, ...",0,3,"3, 0"
3,4,28.388672,0.615234,28.476562,0.527344,None,NaN,None,None,None,"POLYGON ((28.38867 0.61523, 28.47656 0.61523, ...",0,4,"4, 0"
4,5,28.388672,0.527344,28.476562,0.439453,None,NaN,None,None,None,"POLYGON ((28.38867 0.52734, 28.47656 0.52734, ...",0,5,"5, 0"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1051,1052,31.201172,-1.494141,31.289062,-1.582031,None,NaN,None,None,None,"POLYGON ((31.20117 -1.49414, 31.28906 -1.49414...",32,28,"28, 32"
1052,1053,31.201172,-1.582031,31.289062,-1.669922,None,NaN,None,None,None,"POLYGON ((31.20117 -1.58203, 31.28906 -1.58203...",32,29,"29, 32"
1053,1054,31.201172,-1.669922,31.289062,-1.757812,None,NaN,None,None,None,"POLYGON ((31.20117 -1.66992, 31.28906 -1.66992...",32,30,"30, 32"
1054,1055,31.201172,-1.757812,31.289062,-1.845703,None,NaN,None,None,None,"POLYGON ((31.20117 -1.75781, 31.28906 -1.75781...",32,31,"31, 32"
1055,1056,31.201172,-1.845703,31.289062,-1.933594,None,NaN,None,None,None,"POLYGON ((31.20117 -1.84570, 31.28906 -1.84570...",32,32,"32, 32"

In [38]:
#something else silly to try to make the tuple a string.  Didn't need to do after all (see above)
df['Grid_Index'] = df['grid_id'].apply(lambda x: str(', '.join(x)) if isinstance(x,list) else x)

KeyError: 'grid_id'

In [322]:
# Write back to a new Geopackage File
#df.to_file('/media/eubtube/Seagate Backup Plus Drive/Congo_Tifs/vector/colline_grid_joined_adj.gpkg', layer='colline_grid_joined_adj', driver="GPKG")